.sci li a {
    transform-style: preserve-3d;
    perspective: 500px;
}

.fa:hover a svg {
    transform: scale(1.5) translateZ(50px);
}

.tilt {
    transform-style: preserve-3d;
}

.title {
    font-size: 4em;
    letter-spacing: 2px;
    color: transparent;
    -webkit-text-stroke: 1px rgba(0,0,0,0.5);
}